body {
    margin:0% 20%;
    color: black;
    font-family: Garamond;
    background-image: url('Background.jpg');

}
.Header {
    text-align: center;
    font-size: 125%;
    font-weight: bolder;
  }

li {
    font-size:larger;
}

ul {
    font-weight:normal;
}
  
h2 {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
}

.Degree {
    margin-top: -1.25rem;
}

.Tech {
        margin-top: -1.25rem;
}
