body {
    margin:0% 5%;
    background-color:#E0E0E0;
    font-family:Garamond,Arial, Helvetica, sans-serif;
}
.Name {
    text-align: center;
    font-size: 125%;
    font-weight: bolder;
  }

li {
    font-size:larger;
}

ul {
    font-weight:normal;
}
  
.edu-header {
    margin-top: 0;
    padding-top: 0;
    border-bottom: 1px solid black;
}
.Degree {
    margin-top: -1.25rem;
}
.Skills {
    border-bottom: 1px solid black;
}
.Tech {
        margin-top: -1.25rem;
}
.exp-header {
    border-bottom: 1px solid black;
}
